# Ignorar archivos generados por Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.log
*.tmp

# Ignorar archivos de NuGet
packages/
**/packages.lock.json

# Ignorar archivos de bases de datos locales
*.db
*.sqlite

# Ignorar archivos de entornos virtuales
.env
venv/